html {
  background: url("https://raw.githubusercontent.com/slamice/sumofus/master/static/img/justice.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}