html {
  background: url("https://raw.githubusercontent.com/slamice/pictures/master/site/SumOfUsClouds.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}