{% extends "base.html" %}
{% block content %}

<h2>You asked me a few questions to get to know me better...</h2>
<br/>

<h3>Why are you applying for this job? (Suggested word limit: 125)</h3>

<p>
Basically for two reasons:
  <ul>
    <li>Interested in actually working for a cause. So many companies I've seen are business to business focused. I don't feel enough startups are solving real world problems and want to help one with a cause better succeed.</li>
    <li>I'm also interested in working with remote teams and would like a more conducisive lifestyle with my family.</li>
  </ul>
</p>
<br/>

<h3>What’s one idea, big or small, that you have for how advocacy organizations can use technology better? (Suggested word limit: 200)</h3>
<p>
I have two, if that's alright:

<ul>
  <li>From experience, I find that having an <a href="http://en.wikipedia.org/wiki/Application_programming_interface">API</a> really helps simplify integrations and helps developers understand your company on a different level. I think this would be a great consideration when building for mobile.</li>
  <li>People care about a cause especially when it's on a personal level. Through interviews and surveys, sentiment analysis can help better bring the issues people care about to them.</li>
</ul>
</p>
<br/>

<h3>List which of the “BIG PLUS” qualifications above you believe you bring to the table, with a few words of explanation if that’s useful (but keep it short!)</h3>
<p>
<ul>
  <li><i>Worked in a startup -</i> Helped prepare me for fast growing, agile environments.</li>
  <li><i>Programming experience in a variety of languages -</i> Have worked in different programming languages havign to discern the differences and pros and cons of each (what the right tool is for the job at the time).</li>
  <li><i>Technical support -</i>  I have worked with users from large enterprise clients to individuals. This prepared me for understanding how our system works and how we can make it better form their experiences.</li>
  <li><i>Worked with diverse people from around the world -</i> Worked with a variety of people with backgrounds and cultures. Helped me better understand my co-workers, friends and people in general.</li>
  <li><i>Speak 2.5 languages -</i> I speak Arabic and English and am learning Japanese.</li>
  <li><i>Travelled to 15 countries, lived in 3 -</i> Have travelled to three corners of the world, lived in those corners :)</li>
  <li><i>University Radio - </i>Have experience working for a non-profit, albiet a small one. </li>
</ul>
</p>
<br/>

<h3>A brief explanation of where you heard about this job.</h3>
<p>
I was interested in working remotely, so <a href="https://weworkremotely.com">We Work Remotely</a>. It's surprising to see a programming position for python on there, as it usually is centered around rubyists.
</p>
<p>
Please feel free to ask me <a href="mailto:slamice@gmail.com">any more questions!</a> 
</p>
{% endblock %}